.img{
    width: 100%;
}

.botaosalvar {
    background: rgb(180, 38, 38);
    background-image: radial-gradient(circle, rgb(242, 60, 28) 0%, rgb(224, 44, 12) 100%);
    padding: 0,6em 1,25em;
    border: none;
    font-weight: bold;
}

.botaonovo {
    background: rgb(22, 79, 164);
    background-image: radial-gradient(circle, rgb(51, 196, 248) 0%, rgb(34, 187, 233) 1000%);
    padding: 0,6em 1,25em;
    border: none;
    font-weight: bold;
}